@-webkit-keyframes hvr-icon-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-icon-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-icon-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
    }
}

@keyframes hvr-icon-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes rotate360 {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate360 {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'Gosha Sans Regular';
    src: url(../fonts/GoshaSansRegular.otf);
}

::selection {
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    background-clip: initial;
    background-color: chartreuse;
    color: black;

}

:focus-visible {
    outline: ridge 2px chartreuse;
    outline-offset: -5px;
}

:root {
    --fs-h1: clamp(1rem, 2.2vw, 1.125rem);
    --fs-label: clamp(0.75rem, 3.5vw, 0.8313rem);
    --fs-body: clamp(1rem, 1.8vw, 1.125rem);
}

body {
    background-color: #fffce8;
    color: #FFFCEF;
    font-family: 'Space Mono', monospace;
    font-size: var(--fs-body);
    line-height: 1.5;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 111px;
    padding: 11px;
}

header #header-logo {
    width: 250px;
}

main {
    /* border: 1px solid orange; */

    color: rgb(0, 0, 0);
    display: grid;
    margin-inline: auto;
    place-items: center;
}

.item-list {
    /* border: 1px solid chartreuse; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
    list-style: none;
    place-items: center;
}

.item-card {
    /* border: 1px solid purple; */

    padding: 11px;
    text-align: center;
    width: 100%;
}

.item-card-no-color {
    align-self: baseline;
}

.item-card .item {
    background: #fffce8;
    border-radius: 40%;
    box-shadow: inset -11px 11px 22px #d9d6c5,
            inset 11px -11px 22px #ffffff;
    display: grid;
    margin-bottom: 11px;
    margin-inline: auto;
    place-items: center;
}

.item-card .item video {
    border-radius: inherit;
    max-width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: all 380ms ease-in-out;
}

.item-card .item video:hover {
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
    animation-name: hvr-icon-bob-float, hvr-icon-bob;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
}

.item-one-video:not(:first-of-type),
.item-two-video:not(:first-of-type),
.item-three-video:not(:first-of-type) {
    display: none;
}

.item-card .item-title {
    /* border: 1px solid red; */

    font-size: var(--fs-h1);
    font-weight: bold;
    margin-bottom: 25px;
    margin-inline: auto;
    width: max-content;
}

.item-card .radio-container {
    /* border: 1px solid red; */
    
    align-items: center;
    display: flex;
    font-size: var(--fs-label);
    justify-content: space-around;
    margin-bottom: 25px;
}

.item-card .radio-container .radio {
    align-items: center;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.item-card .radio:hover .label-container {
    opacity: 1;
}

.item-card .radio-container .radio .radio-color {
    appearance: none;
    background: linear-gradient(145deg, #e6e3d1, #fffff8); 
    border-radius: inherit;
    box-shadow: 11px 11px 24px #b5b3a5, -11px -11px 24px #ffffff;
    height: 30px;
    margin: 0;
    position: relative;
    width: 30px;
}

.item-card .radio-color::before {
    border-radius: inherit;
    box-shadow: inset 0 0 8px white;
    content: '';
    inset: 0;
    position: absolute;
    transform: scale(0.7);
}

.item-card .color-one::before {
    background-color: black;
}

.item-card .color-two::before {
    background-color: #FFFCEF ;

}

.item-card .color-three::before {
    background-color: skyblue ;
}

.item-card .radio-color::after {
    border: 3px solid black;
    border-radius: inherit;
    box-shadow: 0 0 8px black;
    content: '';
    opacity: 0;
    inset: 0;
    position: absolute;
    transform: scale(1);
    transition: opacity 380ms ease-in-out;
}

.item-card .radio-color:checked:after {
    opacity: 1;
}

.item-card .radio-color:checked ~ .label-container {
    opacity: 1;
}

.item-card .label-container {
    animation: rotate360 33s linear infinite;
    opacity: 0;
    position: absolute;
    transition: opacity 380ms ease-in-out;
}

.item-card .label-container span {
    position: absolute;
    display: inline-block;
    height: 35px;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    transform-origin: bottom center;
}
.item-card .label-container span:first-of-type {
    top: -34px;
}
.item-card .label-container span:nth-of-type(2) {
    transform: translateX(-50%) rotate(25deg);
}
.item-card .label-container span:nth-of-type(3) {
    transform: translateX(-50%) rotate(50deg);
}
.item-card .label-container span:nth-of-type(4) {
    transform: translateX(-50%) rotate(75deg);
}
.item-card .label-container span:nth-of-type(5) {
    transform: translateX(-50%) rotate(100deg);
}
.item-card .label-container span:nth-of-type(6) {
    transform: translateX(-50%) rotate(125deg);
}
.item-card .label-container span:nth-of-type(7) {
    transform: translateX(-50%) rotate(150deg);
}
.item-card .label-container span:nth-of-type(8) {
    transform: translateX(-50%) rotate(175deg);
}
.item-card .label-container span:nth-of-type(9) {
    transform: translateX(-50%) rotate(200deg);
}
.item-card .label-container span:nth-of-type(10) {
    transform: translateX(-50%) rotate(225deg);
}

.item-card .item-price {
    /* border: 1px solid red; */

    margin-bottom: 25px;
}

@media only screen and (min-width: 735px) {
    .item-list {
        gap: 55px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding-inline: 8vw;
    } 

    .item-card .item {
        margin-bottom: 25px;
    }

    .item-card .item-price {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .item-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}