/* * Lucky Numbers in Japan pressStart */
@-webkit-keyframes navCloudDrift {
    30% {
        -webkit-transform: translateX(-800px) translateY(-88px);
        transform: translateX(-800px) translateY(-88px);
    }
    50% {
        -webkit-transform: translateX(-800px) translateY(88px);
        transform: translateX(-800px) translateY(88px);
    }
    70% {
        -webkit-transform: translateX(-800px) translateY(-88px);
        transform: translateX(-800px) translateY(-88px);
    }
    80% {
        -webkit-transform: translateX(0px) translateY(88px);
        transform: translateX(0px) translateY(88px);
    }
}
@keyframes navCloudDrift {
    30% {
        -webkit-transform: translateX(-800px) translateY(-88px);
        transform: translateX(-800px) translateY(-88px);
    }
    50% {
        -webkit-transform: translateX(-800px) translateY(88px);
        transform: translateX(-800px) translateY(88px);
    }
    70% {
        -webkit-transform: translateX(-800px) translateY(-88px);
        transform: translateX(-800px) translateY(-88px);
    }
    80% {
        -webkit-transform: translateX(0px) translateY(88px);
        transform: translateX(0px) translateY(88px);
    }
}

/* * Lucky Numbers in Japan pressStart */
@-webkit-keyframes cloudRotate {
    from {
        -webkit-transform: rotate(33deg);
        transform: rotate(33deg);
    }
    50% {
        -webkit-transform: rotate(-33deg);
        transform: rotate(-33deg);
    }
    to {
        -webkit-transform: rotate(33deg);
        transform: rotate(33deg);
    }
}
@keyframes cloudRotate {
    from {
        -webkit-transform: rotate(33deg);
        transform: rotate(33deg);
    }
    50% {
        -webkit-transform: rotate(-33deg);
        transform: rotate(-33deg);
    }
    to {
        -webkit-transform: rotate(33deg);
        transform: rotate(33deg);
    }
}
/* * Lucky Numbers in Japan gameOver */

@-webkit-keyframes navExpand {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes navExpand {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes hvr-icon-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes hvr-icon-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-icon-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
    }
}
@keyframes hvr-icon-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-icon-bob-2 {
    0% {
        -webkit-transform: scale(1.04) translateY(-2px);
        transform: scale(1.04) translateY(-2px);
    }

    50% {
        -webkit-transform:scale(1.04)  translateY(2px);
        transform:scale(1.04)  translateY(2px);
    }

    100% {
        -webkit-transform: scale(1.04) translateY(-2px);
        transform: scale(1.04) translateY(-2px);
    }
}
@keyframes hvr-icon-bob-2 {
    0% {
        -webkit-transform: scale(1.04) translateY(-2px);
        transform: scale(1.04) translateY(-2px);
    }

    50% {
        -webkit-transform:scale(1.04)  translateY(2px);
        transform:scale(1.04)  translateY(2px);
    }

    100% {
        -webkit-transform: scale(1.04) translateY(-2px);
        transform: scale(1.04) translateY(-2px);
    }
}

@-webkit-keyframes hvr-icon-bob-float-2 {
    100% {
        -webkit-transform: translateY(-8px);
    }
}
@keyframes hvr-icon-bob-float-2 {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes rotate360Small {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate360Small {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate360Medium {
    from {
        -webkit-transform: scale(0.75) rotate(0deg);
        transform: scale(0.75) rotate(0deg);
    }
    to {
        -webkit-transform: scale(0.75) rotate(0deg);
        transform: scale(0.75) rotate(360deg);
    }
}
@keyframes rotate360Medium {
    from {
        -webkit-transform: scale(0.75) rotate(0);
        transform: scale(0.75) rotate(0);
    }
    to {
        -webkit-transform: scale(0.75) rotate(360deg);
        transform: scale(0.75) rotate(360deg);
    }
}

@-webkit-keyframes rotate360Large {
    from {
        -webkit-transform: scale(0.88) rotate(0);
        transform: scale(0.88) rotate(0);
    }
    to {
        -webkit-transform: scale(0.88) rotate(360deg);
        transform: scale(0.88) rotate(360deg);
    }
}
@keyframes rotate360Large {
    from {
        -webkit-transform: scale(0.88) rotate(0);
        transform: scale(0.88) rotate(0);
    }
    to {
        -webkit-transform: scale(0.88) rotate(360deg);
        transform: scale(0.88) rotate(360deg);
    }
}

@-webkit-keyframes rotateRadioChecked {
    from {
        -webkit-transform: scale(1.07) rotate(0);
        transform: scale(1.07) rotate(0);
    }
    50% {
        -webkit-transform: scale(1.21) rotate(180deg);
        transform: scale(1.21) rotate(180deg);
    }
    to {
        -webkit-transform: scale(1.07) rotate(360deg);
        transform: scale(1.07) rotate(360deg);
    }
}
@keyframes rotateRadioChecked {
    from {
        -webkit-transform: scale(1.07) rotate(0);
        transform: scale(1.07) rotate(0);
    }
    50% {
        -webkit-transform: scale(1.21) rotate(180deg);
        transform: scale(1.21) rotate(180deg);
    }
    to {
        -webkit-transform: scale(1.07) rotate(360deg);
        transform: scale(1.07) rotate(360deg);
    }
}

/* Icon Hang pressStart */
@-webkit-keyframes hvr-icon-hang {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@keyframes hvr-icon-hang {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-webkit-keyframes hvr-icon-hang-sink {
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@keyframes hvr-icon-hang-sink {
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
/* Icon Hang gameOver */

@font-face {
    font-family: 'pixeBoy';
    src: url('../assets/fonts/pixeBoy.woff2') format('woff2');
}

::selection {
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    background-clip: initial;
    background-color: var(--color-sora);
    color: white;

}

:focus-visible {
    outline: ridge 2px chartreuse;
    outline-offset: -5px;
}

:root {
    /* Puck-Man */
    --clr-binky: #e91113;
    --clr-pinky: #dc80b1;
    --clr-inky: #01f0ef;
    --clr-clyde: #fe8b0d;
    --clr-sue: #9d199d;
    --clr-funky: #7fff00;
    --clr-pacman: #ffea54;

    --fs-h1: clamp(1rem, 2.2vw, 1.125rem);
    --fs-label: clamp(0.75rem, 3.5vw, 0.8313rem);
    --fs-body: clamp(1rem, 1.8vw, 1.125rem);

    /* ! get radio box shadow here for each mode; */
    --background-day: linear-gradient(to bottom, #fcf4c7, #fffce8, var(--color-sora));
    /* --background-day: black; */
    --radio-box-shadow-day: -11px -11px 15px #ffffff;
    /* --radio-box-shadow-day: -8px -8px 5px black; */

    --color-kuro: black;
    --color-mashumaro: #f0eae0;
    --color-sora: #87ceeb;

    --color-text-primary: #575757;

    --cloud-transition: all 3.33s ease-out;
}

body {
    background: var(--background-day);
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    font-family: 'Space Mono', monospace;
    font-size: var(--fs-body);
    justify-content: space-between;
    line-height: 1.5;
    margin: 0;
}

#cloud-encapsulator {
    display: grid;
    inset: 0;
    overflow: hidden;
    place-items: center;
    pointer-events: none;
    position: absolute;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    -webkit-user-select: none; /* Safari */        
    user-select: none; /* Standard */
}

#cloud-encapsulator #cloud {
    height:555px;
    -webkit-transition: var(--cloud-transition);
    transition: var(--cloud-transition);
    width: 555px;
}

#cloud-encapsulator #cloud > * {
    -webkit-animation: cloudRotate 33s linear infinite alternate;
    animation: cloudRotate 33s linear infinite alternate;
    filter: drop-shadow(0 0 3px silver);
    object-fit: scale-down;
    z-index: 1;
}

header {
    margin-bottom: 33px;
    padding-inline: 5vw;
    padding-top: 11px;
}

header #header-top {
    display: flex;
    justify-content: space-between;
}

header #header-logo {
    object-fit: scale-down;
    position: relative;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    -webkit-user-select: none; /* Safari */        
    user-select: none; /* Standard */
    width: min(300px, 50vw);
    z-index: 1;
}

header #nav-btn {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    height: 55px;
    justify-content: center;
    padding: 5px;
    transition: 380ms transform ease-in-out;
    width: 55px;
    z-index: 1;
}

header #nav-btn:hover {
    transform: scale(1.1);
}

header #nav-btn-san {
    background: var(--color-text-primary);
    border-radius: 8px;
    box-shadow: 0 0 8px var(--color-mashumaro);
    display: flex;
    height: 3px;
    justify-content: center;
    -webkit-transition: all 380ms ease-in-out;
    transition: all 380ms ease-in-out;
    width: 20px;
}

header #nav-btn-san::before {
    background: var(--color-text-primary);
    border-radius: 3px;
    box-shadow: 0 0 8px var(--color-sora);
    content: '';
    height: 3px;
    position: absolute;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    width: 28px;
}

header #nav-btn-san::after {
    background: var(--color-text-primary);
    border-radius: 3px;
    box-shadow: 0 0 8px var(--color-sora);
    content: '';
    height: 3px;
    position: absolute;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    width: 33px;
}

/* NAV-BTN ANIMATION pressStart */
header #nav-btn.open #nav-btn-san {
    background: transparent;
    box-shadow: none;
    -webkit-transition: all 380ms ease-out;
    transition: all 380ms ease-out;
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

header #nav-btn.open #nav-btn-san::before {
    opacity: 0.8;
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
    -webkit-transition: all 380ms ease-in-out;
    transition: all 380ms ease-in-out;
    width: 33px;
}

header #nav-btn.open #nav-btn-san::after {
    opacity: 0.8;
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg);
    transition: all 380ms ease-in-out;
    -webkit-transition: all 380ms ease-in-out;
    width: 33px;
}
/* NAV-BTN ANIMATION gameOver */

/* TODO: */
/* * NAV ANCHOR ANIMATION pressStart */
/* !WHAT TO DO
? add an animation that will rotate the even/odd  list anchor elemnts to maybe -3deg and 3deg respectively
! */

/* 
#nav-list li:nth {
    transition: all 3s ease-in-out;
} */
/* * NAV ANCHOR ANIMATION gameOver */


header:has(#nav-btn.open) #nav-list li:nth-of-type(odd) {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

header:has(#nav-btn.open) #nav-list li:nth-of-type(even) {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

header nav #nav-list {
    display: none;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 38px;
    padding-top: 25px;
    margin-bottom: 33px;
    margin-inline: auto;
    text-align: center;
    -webkit-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}

header #nav-list.open {
    animation: navExpand 1s ease-in-out forwards;
    display: flex;
    -webkit-transform-origin: top center;
    transform-origin: top center;
}

header #nav-list a {
    color: var(--color-sora);
    font-family: 'Dynapuff', monospace;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 0 8px black;
}

header #nav-list li:first-of-type a::before {
    -webkit-animation: navCloudDrift 33s linear infinite alternate;
    animation: navCloudDrift 33s linear infinite alternate;
    content: url('../assets/images/cloud/cloud.svg');
    filter: drop-shadow(0 0 3px silver);
    inset: 0;
    pointer-events: none;
    position: absolute;
} 

main {
    display: grid;
    margin-bottom: 88px;
    place-items: center;
}

main .item-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    place-items: center;
}

main .item-card {
    padding: 11px;
    text-align: center;
    width: min(50vw, 300px);
    z-index: 1;
}

main .item-card-no-color {
    align-self: baseline;
}

main .item-card .item {
    background: #fffce8;
    border-radius: 42%;
    box-shadow: inset 8px 8px 16px #a6a497, inset -8px -8px 16px #FFFCE8;
    display: grid;
    margin-bottom: 11px;
    margin-inline: auto;
    place-items: center;
    position: relative;
}

main .item-card .item::after {
    box-shadow: inset -11px 11px 15px #d9d6c5, inset 11px -11px 15px #FFFCE8;
    border-radius: inherit;
    content: '';
    height: 100%;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 188ms ease-in-out;
    transition: opacity 188ms ease-in-out;
    width: 100%;
    z-index: 0;
}

main .item-card:hover .item::after {
    opacity: 1;
}

main .item-card .item video {
    border-radius: inherit;
    cursor: pointer;
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 380ms ease-in-out;
    transition: all 380ms ease-in-out;
    z-index: 1;
}

main .item-card .item video:hover {
    -webkit-animation-delay: 0s, .2s;
    animation-delay: 0s, .2s;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
    -webkit-animation-duration: .2s, 0.8s;
    animation-duration: .2s, 0.8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
    animation-name: hvr-icon-bob-float, hvr-icon-bob;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
}

main .item-one-video:not(:first-of-type),
main .item-two-video:not(:first-of-type),
main .item-three-video:not(:first-of-type) {
    display: none;
}

main .item-card .item-title {
    color: var(--color-text-primary);
    font-size: var(--fs-h1);
    font-weight: bold;
    margin-bottom: 25px;
    margin-inline: auto;
    width: max-content;
}

main .item-card .radio-container {
    align-items: center;
    display: flex;
    font-size: var(--fs-label);
    justify-content: space-around;
    margin-bottom: 25px;
}

main .item-card .radio-container .radio {
    align-items: center;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

main .item-card .radio:hover .label-container {
    opacity: 1;
}

main .item-card .radio-color {
    appearance: none;
    background: linear-gradient(145deg, #e6e3d1, #fffff8); 
    border-radius: inherit;
    box-shadow: 3px 3px 11px #b5b3a5, var(--radio-box-shadow-day);
    cursor: pointer;
    height: 30px;
    margin: 0;
    position: relative;
    width: 30px;
}

main .item-card .radio-color::before {
    border-radius: inherit;
    box-shadow: inset 0 0 8px white;
    content: '';
    inset: 0;
    position: absolute;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: transform 0.88s cubic-bezier(0.84, 0.2, 0.95, 0.37);
    transition: transform 0.88s cubic-bezier(0.84, 0.2, 0.95, 0.37);
    z-index: 1;
}

main .item-card .color-one::before {
    background-color: var(--color-kuro);
}

main .item-card .color-two::before {
    background-color: var(--color-mashumaro);
    box-shadow: inset 0 0 3px black;
}

main .item-card .color-three::before {
    background-color: var(--color-sora);
}

main .item-card .radio-color::after {
    animation: 3s rotateRadioChecked ease-out infinite;
    border-radius: inherit;
    border-top: 5px ridge var(--color-sora);
    box-shadow: 0 0 11px 8px #FFFCEF, inset 0 0 33px 8px silver;
    content: '';
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: all 380ms ease-in-out;
    z-index: -1;
}

main .item-card .radio-color:checked:after {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

main .item-card .radio-color:checked ~ .label-container {
    opacity: 1;
}

main .item-card .label-container {
    animation: rotate360Small 33s linear infinite;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    -webkit-transition: transform 1.11s cubic-bezier(0.84, 0.2, 0.95, 0.37), opacity 380ms ease-in-out;
    transition: transform 1.11s cubic-bezier(0.84, 0.2, 0.95, 0.37), opacity 380ms ease-in-out;
    z-index: 0;
}

main .item-card .label-container span {
    color:var(--color-text-primary);
    position: absolute;
    display: inline-block;
    height: 35px;
    top: -35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    -webkit-user-select: none; /* Safari */        
    user-select: none; /* Standard */
    width: 15px;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
}
main .item-card .label-container span:first-of-type {
    top: -34px;
}
main .item-card .label-container span:nth-of-type(2) {
    -webkit-transform: translateX(-50%) rotate(25deg);
    transform: translateX(-50%) rotate(25deg);
}
main .item-card .label-container span:nth-of-type(3) {
    -webkit-transform: translateX(-50%) rotate(50deg);
    transform: translateX(-50%) rotate(50deg);
}
main .item-card .label-container span:nth-of-type(4) {
    -webkit-transform: translateX(-50%) rotate(75deg);
    transform: translateX(-50%) rotate(75deg);
}
main .item-card .label-container span:nth-of-type(5) {
    -webkit-transform: translateX(-50%) rotate(100deg);
    transform: translateX(-50%) rotate(100deg);
}
main .item-card .label-container span:nth-of-type(6) {
    -webkit-transform: translateX(-50%) rotate(125deg);
    transform: translateX(-50%) rotate(125deg);
}
main .item-card .label-container span:nth-of-type(7) {
    -webkit-transform: translateX(-50%) rotate(150deg);
    transform: translateX(-50%) rotate(150deg);
}
main .item-card .label-container span:nth-of-type(8) {
    -webkit-transform: translateX(-50%) rotate(175deg);
    transform: translateX(-50%) rotate(175deg);
}
main .item-card .label-container span:nth-of-type(9) {
    -webkit-transform: translateX(-50%) rotate(200deg);
    transform: translateX(-50%) rotate(200deg);
}
main .item-card .label-container span:nth-of-type(10) {
    -webkit-transform: translateX(-50%) rotate(225deg);
    transform: translateX(-50%) rotate(225deg);
}

main .item-card .item-price {
    color: var(--color-text-primary);
    margin-bottom: 25px;
}

footer {
    background: linear-gradient(to bottom, transparent, #FFFCE8, #FFFCE8);
    bottom: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'pixeBoy';
    justify-content: center;
    left: 0;
    line-height: 1;
    padding-bottom: 15px;
    position: fixed;
    right: 0;
    z-index: 2;
}

footer p {
    color: black;
    font-size: 1rem;
}

footer #cycloneContainer {
    opacity: 0.5;
    -webkit-transition: all 0.88s ease-in-out;
    transition: all 0.88s ease-in-out;
}

footer:hover #cycloneContainer {
    opacity: 1;
    -webkit-transform: scale(1.5) translateY(-28px) rotate(3turn);
    transform: scale(1.5) translateY(-28px) rotate(3turn);
}

footer #footnote {
    opacity: 0.7;
    position: relative;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all 0.88s ease-in-out;
    transition: all 0.88s ease-in-out;
}

footer:hover #footnote {
    opacity: 0.7;
    -webkit-transform: translateY(33px);
    transform: translateY(33px);
}

footer #footnote::before {
    color: black;
    content: '© 2023 Time Capsule NY, LLC. All Rights Reserved';
    inset: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 380ms ease-in-out;
    transition: opacity 380ms ease-in-out;
} 

footer:hover #footnote::before {
    opacity: 1;
}

footer #poweredBy {
    color: var(--clr-binky);
    font-size: 0.875rem;
    text-shadow: 0 0 5px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.88s ease-in-out 0.88s;
    transition: all 0.88s ease-in-out 0.88s;
}

footer:hover #poweredBy {
    -webkit-transform: scale(1);
    transform: scale(1);
}

footer #cycloneStudios {
    margin-inline:auto;
    object-fit: scale-down;
    width: 50px;
}

@media only screen and (min-width: 768px) {
    header {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        z-index: 0;  
    }

    header #nav-btn {
        display: none;
    }

    header nav #nav-list {
        display: flex;
        gap: 38px;
        flex-direction: row; 
        margin-bottom: 0;
        padding-top: 0;
        z-index: 1;  
    }

    header #nav-list li:first-of-type a::before {
        display: none;
    } 

    main .item-list {
        gap: 33px;
        grid-template-columns: repeat(3, 1fr);
        padding-inline: 3vw;
    } 

    main .item-card {
        width: min(25vw, 300px);
    }

    main .item-card .item {
        margin-bottom: 25px;
    }

    main .item-card .radio-container .radio .radio-color {
        height: min(64px, 5.8vw);
        width: min(64px, 5.8vw);
    }

    main .item-card .radio-color::before {
        -webkit-transform: scale(0.40);
        transform: scale(0.40);
    }

    main .item-card .label-container {
        animation: rotate360Medium 33s linear infinite;
    }
    
    main .item-card main .item-price {
        margin-bottom: 0;
    }

    footer {
        padding-bottom: 12px
    }
}

@media only screen and (min-width: 1024px) {
    main .item-card .radio-color::before {
        -webkit-transform: scale(0.47);
        transform: scale(0.47);
    }

    main .item-card .label-container {
        animation: rotate360Large 33s linear infinite;
    }
}